# Basic Data Structures In Python
#### 1- Tuple
#### 2- List
#### 3- Dictionaries
#### 4- Set

## 1- Tuple
- Ordered collection of elements
- Enclosed in () round braces/paranthesis
- Different kind of elements can be stored
- Once elements are stored you can not change them (unmutable)

In [2]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [3]:
# tpe of a tuple
type(tup1)

tuple

### Indexing in tuple

In [5]:
tup1[0]

1

In [6]:
tup1[1]

'python'

In [9]:
tup1[2]

True

In [8]:
tup1[0:4]

(1, 'python', True, 2.5)

In [11]:
# count of elements in tuple
len(tup1)

4

In [12]:
tup2 = (2, "Kamran Ahmed", 3.5, False)
tup2

(2, 'Kamran Ahmed', 3.5, False)

In [24]:
# addition (concatinate)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'Kamran Ahmed', 3.5, False)

In [25]:
# concatinate + repeat
tup1*3 + tup2

(1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 1,
 'python',
 True,
 2.5,
 2,
 'Kamran Ahmed',
 3.5,
 False)

In [18]:
tup3 = (20, 50, 30, 60, 75)
tup3

(20, 50, 30, 60, 75)

In [22]:
# minimum
min(tup3)

20

In [23]:
# maximum
max(tup3)

75

---

## 2- List
- ordered collection f elements
- enclosed in [] square braces
- Mutable

In [30]:
list1 = [2, "Kamran Ahmed", False]
list1

[2, 'Kamran Ahmed', False]

In [27]:
type(list1)

list

In [28]:
len(list1)

3

In [29]:
list1[2]

False

In [31]:
list2 = [3, 5, "Kamran", "Ahmed", 478, 53.2, False]
list2

[3, 5, 'Kamran', 'Ahmed', 478, 53.2, False]

In [33]:
# Concatinate
list1 + list2

[2, 'Kamran Ahmed', False, 3, 5, 'Kamran', 'Ahmed', 478, 53.2, False]

In [48]:
# Multiply
list1 *2

[False, 'Kamran Ahmed', 2, False, 'Kamran Ahmed', 2]

In [37]:
list1.reverse()
list1

[False, 'Kamran Ahmed', 2]

In [38]:
list1.append("Computer Systems Engineer")
list1

[False, 'Kamran Ahmed', 2, 'Computer Systems Engineer']

In [40]:
list1.pop()
list1

[False, 'Kamran Ahmed', 2]

In [44]:
list3 = [20, 30, 35, 40, 11, 29, 10, 80, 94]
list3

[20, 30, 35, 40, 11, 29, 10, 80, 94]

In [45]:
# sorting a list
list3.sort()
list3

[10, 11, 20, 29, 30, 35, 40, 80, 94]

In [47]:
list3 *2

[10, 11, 20, 29, 30, 35, 40, 80, 94, 10, 11, 20, 29, 30, 35, 40, 80, 94]

In [49]:
list= list1 + list2 + list3
list

[False,
 'Kamran Ahmed',
 2,
 3,
 5,
 'Kamran',
 'Ahmed',
 478,
 53.2,
 False,
 10,
 11,
 20,
 29,
 30,
 35,
 40,
 80,
 94]

---

## 3- Dictionaries
- An unordered collection of elements
- Key and Value
- Curly Braces {}
- Mutable

In [54]:
# Food and their prices
food1 = {"Samosa":30, "Pakora":100, "Raita":15, "Salad":10, "Chicken Roll":50}
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 15, 'Salad': 10, 'Chicken Roll': 50}

In [56]:
type(food1)

dict

In [57]:
# extracting data
#Sepratting keys
keys1= food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Roll'])

In [58]:
#seprating values
values1=food1.values()
values1

dict_values([30, 100, 15, 10, 50])

In [62]:
# Adding new item in dictionary

food1["Burger"]=100
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 15,
 'Salad': 10,
 'Chicken Roll': 50,
 'Burger': 100}

In [64]:
# updating existing values
food1["Burger"]=120
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 15,
 'Salad': 10,
 'Chicken Roll': 50,
 'Burger': 120}

In [65]:
food2={"Dates":50, "Choclates":200, "Noodles":250}
food2

{'Dates': 50, 'Choclates': 200, 'Noodles': 250}

In [66]:
# Concatinate
food1.update(food2)

In [67]:
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 15,
 'Salad': 10,
 'Chicken Roll': 50,
 'Burger': 120,
 'Dates': 50,
 'Choclates': 200,
 'Noodles': 250}

---

## 4- Set
- Unordered and unindexed
- Curly braces {}
- No duplicates allowed
- No Boolean will be printed

In [73]:
s1={1, 2.2, 5.2, "Kamran", "Ahmed", "Karachi", True}
s1

{1, 2.2, 5.2, 'Ahmed', 'Kamran', 'Karachi'}

In [70]:
type(s1)

set

In [71]:
len(s1)

6

In [74]:
s1.add("Pakistan")
s1

{1, 2.2, 5.2, 'Ahmed', 'Kamran', 'Karachi', 'Pakistan'}

In [75]:
s1.remove("Pakistan")
s1

{1, 2.2, 5.2, 'Ahmed', 'Kamran', 'Karachi'}